<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Origami - eCommerce Clothes shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/origamiLoader.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>

<body>
    <div id="loader">


        <div class="spinner">
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
            <div><img class="logoLoader" src="./assets/images/logo_loader.png" alt="loader"></div>
        </div>
        <div class="backgroundLoader">

        </div>
        <div class="background">

        </div>
    </div>

    <div class="main-wrapper" id="app">

        <!-- Header Section Start -->
        <div class="header-section section">

            <!-- Header Top Start -->
            <div class="header-top header-top-one bg-theme-two">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col mt-10 mb-10 d-none d-md-flex">
                            <!-- Header Top Left Start -->
                            <div class="header-top-left">
                                <p>Bienvenido a Origami</p>
                            </div><!-- Header Top Left End -->
                        </div>
                        <div class="col mt-10 mb-10">
                            <!-- Header Language Currency Start -->
                            <ul class="header-lan-curr">
                                <li><a href="#">es</a>
                                    <ul>
                                        <li><a href="#">english</a></li>
                                        <li><a href="#">spanish</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">$ars</a>
                                    <ul>
                                        <li><a href="#">ars</a></li>
                                        <li><a href="#">dollar</a></li>
                                    </ul>
                                </li>
                            </ul><!-- Header Language Currency End -->
                        </div>
                        <div class="col mt-10 mb-10">
                            <!-- Header Shop Links Start -->
                            <div class="header-top-right">
                                <p><a href="login-register.html">Registrar</a><a href="login-register.html">Ingresar</a>
                                </p>
                                <!-- <p><button type="button" @click="logOut" class="logOut">Logout<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg></button></p>  -->
                            </div><!-- Header Shop Links End -->
                        </div>
                    </div>
                </div>
            </div><!-- Header Top End -->

            <!-- Header Bottom Start -->
            <div class="header-bottom header-bottom-one header-sticky">
                <div class="container-fluid">
                    <div class="row menu-center align-items-center justify-content-between">

                        <div class="col mt-15 mb-15">
                            <!-- Logo Start -->
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/images/logo.png" alt="Jadusona-logo">
                                </a>
                            </div><!-- Logo End -->
                        </div>

                        <div class="col order-2 order-lg-3">
                            <!-- Header Advance Search Start -->
                            <div class="header-shop-links">
                                <div class="header-mini-cart">
                                    <a href="cart.html"><img src="assets/images/icons/cart.png" alt="Cart">
                                        <span>{{storageLength}}</span></a>
                                </div>
                            </div><!-- Header Advance Search End -->
                        </div>
                        <div class="col order-3 order-lg-2">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">INICIO</a>
                                        </li>
                                        <li class="active"><a href="shop.html">Tienda</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">General</a></li>
                                                <li><a href="ropa.html">Ropa</a></li>
                                                <li><a href="cosplay.html">Cosplay</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">CONTACTO</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="mobile-menu order-4 d-block d-lg-none col"></div>
                    </div>
                </div>
            </div><!-- Header BOttom End -->
        </div><!-- Header Section End -->

        <!-- Page Banner Section Start -->
        <div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col">
                        <h1>Cosplay</h1>
                    </div>
                </div>
            </div>

        </div><!-- Page Banner Section End -->

        <!-- Page Section Start -->
        <div class="page-section section section-padding">
            <div class="container">

                <div class="row">
                    <div class="col-12 d-flex justify-content-between align-items-center mb-80 product-short">
                        <div class="d-flex gap-2 align-items-center">
                            {{searchProduct}}
                            <label for="search">
                                <h4> Buscar Productos:</h4>
                            </label>
                            <input type="search" id="search" name="search" v-model="search">
                        </div>
                        <div class="product-short mb-0">
                            <h4>Ordenar por: </h4>
                            <select v-model="selected">
                                <option disabled value="">Seleccione</option>
                                <option>Menor precio</option>
                                <option>Mayor precio</option>
                                <option>Menor stock</option>
                                <option>Mayor stock</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40" v-for="product in aux">
                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img v-bind:src="product.imageURL_front" alt="Imagen-producto">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button type="button" @click.once="agregarProducto(product)">Agregar a
                                                carrito</button>
                                            <a class="viewMore" v-bind:href=`single-product.html?id=${product.id}`>Ver
                                                mas</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title marginBoxR"><a
                                                v-bind:href=`single-product.html?id=${product.id}`>{{product.name}}</a>
                                        </h4>
                                        <div class="ratting ">
                                            <p class="marginBoxR">{{product.animeTheme}}</p>
                                        </div>
                                        <h5 class="size">Size:
                                            <span v-for="size in product.size">{{size}}</span>
                                        </h5>
                                    </div>
                                    <div class="content-right">
                                        <span class="price">${{product.price}}</span>
                                        <div class="lowStock parpadea" v-if="product.stock <= 3">
                                            Bajo stock
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Page Section End -->

        <!-- Brand Section Start -->
        <div class="brand-section section section-padding pt-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="brand-slider">

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                        <div class="brand-item col">
                            <img src="" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- Brand Section End -->

        <!-- Footer Top Section Start -->
        <div class="footer-top-section section section-padding">
            <div class="container">
                <div class="row">

                    <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40 ">
                        <h4 class="title">CONTACTO</h4>
                        <p class="text-light">1425 Los Polvorines <br /> Provincia de Buenos Aires</p>
                        <p> <a class="text-light" href="tel:2995451326">2995451326</a><a class="text-light"
                                href="tel:2994137609">2994137609</a></p>
                        <p> <a class="text-light" href="mailto:help@origami.com">help@origami.com</a><a
                                class="text-light" href="#">www.origami.com</a></p>
                    </div>

                    <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                        <h4 class="title text-light">PRODUCTOS</h4>
                        <ul>
                            <li><a class="text-light" href="ropa">Productos Destacados</a></li>
                            <li><a class="text-light" href="cosplay.html">Cosplay Más vendidos</a></li>
                            <!-- <li><a class="text-light" href="#">Productos Destacados</a></li> -->
                            <li><a class="text-light" href="about.html">Sobre Nosotros</a></li>
                        </ul>
                    </div>

                    <!-- <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
						<h4 class="title">INFORMACIÓN</h4>
                        <ul>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Métodos de pago</a></li>
                        <li><a href="#">Garantías</a></li>
                        <li><a href="#">Devoluciones</a></li>
                        <li><a href="#">Seguridad de los pagos</a></li>
						</ul>
					</div>	 -->

                    <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                        <h5 class="title text-light">SÍGUENOS!</h5>
                        <p class="footer-social text text-light">
                            <a class="text-light" href="https://www.instagram.com/origami.anime/"> <i
                                    class="fa fa-instagram" aria-hidden="true"> </i> Instagram</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer Top Section End -->

        <!-- Footer Bottom Section Start -->
        <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="footer-copyright">© 2022 Origami. Hecho con <i class="fa fa-heart heart-icon"></i> By
                            <a target="_blank" href="https://OrigamiTeam.com">OrigamiTeam</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Section End -->

    </div>

    <!-- JS
============================================ -->
    <script src="https://kit.fontawesome.com/8872e142cf.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/cosplay.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Migrate JS -->
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>




</body>

</html>



<!-- SIN RESULTADOS DE BÚSQUEDA
NO SE HAN ENCONTRADO RESULTADOS PARA LA BÚSQUEDA: "UGL" -->