<!doctype html>
<html class="no-js" lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Origami - eCommerce Clothes shop</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

	<!-- CSS
	============================================ -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="assets/css/icon-font.min.css">

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="assets/css/plugins.css">

	<!-- Helper CSS -->
	<link rel="stylesheet" href="assets/css/helper.css">

	<!-- Main Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Modernizer JS -->
	<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>

<body>

	<div id="app" class="main-wrapper">

		<!-- Header Section Start -->
		<div class="header-section section">

			<!-- Header Top Start -->
			<div class="header-top header-top-one bg-theme-two">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-center">

						<div class="col mt-10 mb-10 d-none d-md-flex">
							<!-- Header Top Left Start -->
							<div class="header-top-left">
								<p>Bienvenido a Origami</p>
								<i class="fa-brands fa-whatsapp">
									<a href="https://chat.whatsapp.com/GgeI2LllN3lHOJJxnt652v">2994137609</a>
								</i>
							</div><!-- Header Top Left End -->
						</div>

						<div class="col mt-10 mb-10">
							<!-- Header Language Currency Start -->
							<ul class="header-lan-curr">

								<li><a href="#">es</a>
									<ul>
										<li><a href="#">english</a></li>
										<li><a href="#">spanish</a></li>
									</ul>
								</li>

								<li><a href="#">$ARS</a>
									<ul>
										<li><a href="#">USD</a></li>
									</ul>
								</li>

							</ul><!-- Header Language Currency End -->
						</div>

						<div class="col mt-10 mb-10">
							<!-- Header Shop Links Start -->
							<div class="header-top-right">

								<p><a href="my-account.html">Mi Cuenta</a></p>
								<p><a href="login-register.html">Registro</a><a href="login-register.html">Login</a></p>

							</div><!-- Header Shop Links End -->
						</div>

					</div>
				</div>
			</div><!-- Header Top End -->

			<!-- Header Bottom Start -->
			<div class="header-bottom header-bottom-one header-sticky">
				<div class="container-fluid">
					<div class="row menu-center align-items-center justify-content-between">

						<div class="col mt-15 mb-15">
							<!-- Logo Start -->
							<div class="header-logo">
								<a href="index.html">
									<img src="assets/images/logo.png" alt="ORIGAMI">
								</a>
							</div><!-- Logo End -->
						</div>

						<div class="col order-2 order-lg-3">
							<!-- Header Advance Search Start -->
							<div class="header-shop-links">

								<div class="header-search">
									<button class="search-toggle"><img src="assets/images/icons/search.png"
											alt="Search Toggle"><img class="toggle-close"
											src="assets/images/icons/close.png" alt="Search Toggle"></button>
									<div class="header-search-wrap">
										<form action="#">
											<input type="text" placeholder="Type and hit enter">
											<button><img src="assets/images/icons/search.png" alt="Search"></button>
										</form>
									</div>
								</div>

								<div class="header-wishlist">
									<a href="wishlist.html"><img src="assets/images/icons/wishlist.png" alt="Wishlist">
										<span>02</span></a>
								</div>

								<div class="header-mini-cart">
									<a href="cart.html"><img src="assets/images/icons/cart.png" alt="Cart">
										<span>02($250)</span></a>
								</div>

							</div><!-- Header Advance Search End -->
						</div>

						<div class="col order-3 order-lg-2">
							<div class="main-menu">
								<nav>
									<ul>
										<li class="active"><a href="index.html">INICIO</a>
										</li>
										<li><a href="shop.html">TIENDA</a>
											<ul class="sub-menu">
												<li><a href="shop.html">Productos</a></li>
												<li><a href="single-product.html">Cosplay</a></li>
											</ul>
										</li>
										<li><a href="contact.html">CONTACTO</a></li>
									</ul>
								</nav>
							</div>
						</div>

						<!-- Mobile Menu -->
						<div class="mobile-menu order-4 d-block d-lg-none col"></div>

					</div>
				</div>
			</div><!-- Header BOttom End -->

		</div><!-- Header Section End -->

		<!-- Hero Section Start -->
		<div class="hero-section section">

			<!-- Hero Slider Start -->
			<div class="hero-slider hero-slider-three fix">

				<!-- Hero Item Start -->
				<div class="hero-item" style="background-image: url(assets/images/carousel.png)">
					<div class="container">

						<!-- Hero Content -->
						<div class="hero-content-2">

							<h1>I love she, what a dress
								<br> Is very Dificul</h1>
							<a href="#">SHOP NOW</a>

						</div>

					</div>
				</div><!-- Hero Item End -->

				<!-- Hero Item Start -->
				<div class="hero-item" style="background-image: url(https://imgur.com/FZb0ikr)">
					<div class="container">

						<!-- Hero Content -->
						<div class="hero-content-2">

							<h1>I love she, what a dress
								<br> Is very Dificul</h1>
							<a href="#">SHOP NOW</a>

						</div>

					</div>
				</div><!-- Hero Item End -->

			</div><!-- Hero Slider End -->

		</div><!-- Hero Section End -->

		<!-- Product Section Start -->
		{{productSection()}}
		<div class="product-section section section-padding">
			<div class="container">

				<!-- <div class="row">
				<ul class="product-tab-list nav col mb-30" v-for="product in products">
				  <li>{{product.description}}</li>
				  <li><img></li>
				</ul>
            </div> -->

				<div class="row">
					<div class="tab-content col-12" id="myTabContent">
						<div class="tab-pane fade show active" id="product-new">
							<div class="row mbn-40">
								<div class="d-flex flex-wrap justify-content-between">

									<div class="product-item" v-for="product in productsView">
										<div class="product-inner">

											<div class="image">
												<img v-bind:src="product.imageURL_front" alt="Image">

												<div class="image-overlay">
													<div class="action-buttons">
														<button>add to cart</button>
														<button><i class="fa-light fa-heart"></i></button>
													</div>
												</div>

											</div>

											<div class="content">

												<div class="content-left">

													<h4 class="title"><a href="single-product.html">{{product.name}}</a>
													</h4>

													<div class="ratting">
														<p>{{product.animeTheme}}</p>
													</div>

													<h5 class="size">Size:
														<span>{{product.clothesSize}}</span>
														<!-- <span>S</span><span>M</span><span>L</span><span>XL</span> -->
													</h5>
													<h5 class="color" v-if="product.color.length > 0"
														style="display: block;">
														Color:
														<div class=" d-flex flex-row">
															<span v-if="product.color.includes('black')"
																style="background-color: #000000"></span>
															<span v-if="product.color.includes('blue')"
																style="background-color: #0271bc"></span>
															<span v-if="product.color.includes('gray')"
																style="background-color: #8f8e8b"></span>
															<span v-if="product.color.includes('purple')"
																style="background-color: #7a0da6"></span>
															<span v-if="product.color.includes('green')"
																style="background-color: #07a371"></span>
															<span v-if="product.color.includes('white')"
																style="background-color: #ffffff"></span>
															<span v-if="product.color.includes('red')"
																style="background-color: #ad1717"></span>
														</div>
													</h5>
													<h5 class="color" v-else style="display: none;">
														Color:
														<div class=" d-flex flex-row">
														</div>
													</h5>

												</div>

												<div class="content-right">
													<span class="price">${{product.price}}</span>
												</div>

											</div>

										</div>
									</div>

								</div>

							</div>
						</div>

						<!-- <div class="tab-pane fade" id="product-sale">
						<div class="row mbn-40">

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-6.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Striped T-Shirt</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$12</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-7.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Kislen Jak Tops</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$29</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-8.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Lattic Shirt</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$08</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-1.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Tmart Baby Dress</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
													<i class="fa fa-star-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$25</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-2.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Jumpsuit Outfits</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$09</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-3.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Smart Shirt</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$18</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-4.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html">Kids Shoe</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
													<i class="fa fa-star-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$15</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

								<div class="product-item">
									<div class="product-inner">

										<div class="image">
											<img src="assets/images/product/product-5.jpg" alt="Image">

											<div class="image-overlay">
												<div class="action-buttons">
													<button>add to cart</button>
													<button>add to wishlist</button>
												</div>
											</div>

										</div>

										<div class="content">

											<div class="content-left">

												<h4 class="title"><a href="single-product.html"> Bowknot Bodysuit</a></h4>

												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
												</div>

												<h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
												<h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span style="background-color: #0271bc"></span><span style="background-color: #efc87c"></span><span style="background-color: #00c183"></span></h5>

											</div>

											<div class="content-right">
												<span class="price">$12</span>
											</div>

										</div>

									</div>
								</div>

							</div>

						</div>
					</div> -->
					</div>
				</div>

			</div>
		</div><!-- Product Section End -->

		<!-- Banner Section Start -->
		<div class="banner-section section section-padding pt-0">
			<div class="container">
				<div class="row row-10">

					<div class="col-md-6 col-12 mb-20">
						<div class="banner banner-1 content-left content-middle">

							<a href="#" class="image"><img src="assets/images/banner/banner-1.jpg"
									alt="Banner Image"></a>

							<div class="content">
								<h1>Nueva Mercancia<br>Attack On Tittan <br> 30% de Descuento</h1>
								<a href="#" data-hover="SHOP NOW">Checar</a>
							</div>

						</div>
					</div>

					<div class="col-md-6 col-12 mb-20">
						<div class="banner banner-1 content-left content-top">

							<a href="#" class="image"><img src="assets/images/banner/banner-3.jpg"
									alt="Banner Image"></a>

							<div class="content">
								<h1>Sueteres <br>Coleccion</h1>
								<a href="#" data-hover="SHOP NOW">Checar</a>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div><!-- Banner Section End -->

		<!-- Product limited Section  Start -->
		<div class="product-section section section-padding pt-0">
			<div class="container">

				<div class="row">
					<div class="section-title text-center col mb-30">
						<h1>Edicion Limitada</h1>
						<!-- <p>All featured product find here</p> -->
					</div>
				</div>
				{{limitedEdition}}
				<div class="product-slider slick-space">
					<div class="slick-slide">
						<div class="d-flex flex-row">

							<div class="product-item" v-for="product in productsLimitedEdition">
								<div class="product-inner">

									<div class="image">
										<img v-bind:src="product.imageURL_front" alt="Image">

										<div class="image-overlay">
											<div class="action-buttons">
												<button>Agregar al carrito</button>
												<button>Guardar en favoritos</button>
											</div>
										</div>

									</div>

									<div class="content">

										<div class="content-left">

											<h4 class="title"><a href="single-product.html"> {{product.name}}</a></h4>

											<div class="ratting">
												<p>{{product.animeTheme}}</p>
											</div>

											<h5 class="size">Size:
												<span>{{product.size}}</span>
												<!-- <span>S</span><span>M</span><span>L</span><span>XL</span> -->
											</h5>
											<h5 class="color" v-if="product.color.length > 0" style="display: block;">
												Color:
												<div class=" d-flex flex-row">
													<span v-if="product.color.includes('black')"
														style="background-color: #000000"></span>
													<span v-if="product.color.includes('blue')"
														style="background-color: #0271bc"></span>
													<span v-if="product.color.includes('gray')"
														style="background-color: #8f8e8b"></span>
													<span v-if="product.color.includes('purple')"
														style="background-color: #7a0da6"></span>
													<span v-if="product.color.includes('green')"
														style="background-color: #07a371"></span>
													<span v-if="product.color.includes('white')"
														style="background-color: #ffffff"></span>
													<span v-if="product.color.includes('red')"
														style="background-color: #ad1717"></span>
												</div>
											</h5>
											<h5 class="color" v-else style="display: none;">
												Color:
												<div class=" d-flex flex-row">
												</div>
											</h5>
										</div>
										<div class="content-right">
											<span class="price">${{product.price}}</span>
										</div>

									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div><!-- Product Section End -->

		<!-- Deal Section Start -->
		<div class="deal-section section section-padding pt-0">
			<div class="container">
				<div class="deal-product-slider pb-30">
					<div class="deal-product mbn-30">
						<div class="image col-md-4 col-12 mb-30"><img src="assets/images/product/deal-1.png"
								alt="Image"></div>
						<div class="content col-md-6 col-12 mb-30">
							<h2 class="title"><a href="single-product.html">2 sets de Cosplays</a></h2>
							<span class="price">$5000 <span class="old">$8900</span></span>
							<div class="countdown" data-countdown="2023/06/20"></div>
							<a class="shop-now-link" href="single-product.html" data-hover="SHOP NOW">Comprar Ahora</a>
						</div>
					</div>
					<div class="deal-product mbn-30">
						<div class="image col-md-4 col-12 mb-30"><img src="assets/images/product/deal-2.png"
								alt="Image"></div>
						<div class="content col-md-6 col-12 mb-30">
							<h2 class="title"><a href="single-product.html">Naruto</a></h2>
							<span class="price">$08 <span class="old">$25</span></span>
							<div class="countdown" data-countdown="2023/06/20"></div>
							<a class="shop-now-link" href="single-product.html" data-hover="SHOP NOW">Comprar Ahora</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Deal Section End -->

		<!-- Feature Section Start -->
		<div class="feature-section section section-padding pt-0">
			<div class="container">
				<div class="feature-wrap row row-10 mbn-20">

					<div class="col-lg-4 col-md-6 col-12 mb-20">
						<div class=" text-center ">

							<div class="icon"><img src="assets/images/feature/feature-1.png" alt="Image"></div>
							<div class="content">
								<h3>Envios Gratis</h3>
								<p>Desde $100</p>
							</div>

						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-12 mb-20">
						<div class=" text-center ">

							<div class="icon"><img src="assets/images/feature/feature-2.png" alt="Image"></div>
							<div class="content">
								<h3>Reembolsos</h3>
								<p>Devoluciones en 25 dias</p>
							</div>

						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-12 mb-20">
						<div class=" text-center ">

							<div class="icon"><img src="assets/images/feature/feature-3.png" alt="Image"></div>
							<div class="content">
								<h3>Pagos Seguros</h3>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div><!-- Feature Section End -->

		<!-- Blog Section Start -->
		<div class="blog-section section section-padding pt-0">
			<div class="container">
				<div class="row">

					<!-- SnapWidget -->
					<iframe src="https://snapwidget.com/embed/1000732" href="https://www.instagram.com/origami.anime/"
						class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no"
						style="border:none; overflow:hidden;  width:765px; height:510px"></iframe>

				</div>
			</div>
		</div><!-- Blog Section End -->

		<!-- Brand Section Start -->
		<div class="brand-section section section-padding pt-0">
			<div class="container-fluid">
				<div class="row">
					<div class="brand-slider">

						<div class="brand-item col">
							<img src="assets/images/brands/Dragon_Ball_Super.png" alt="Image" class="imgSlider">
						</div>

						<div class="brand-item col">
							<img src="assets/images/brands/Jujutsu_Kaisen_logo_in_Japan.png" alt="Image"
								class="imgSlider">
						</div>

						<div class="brand-item col">
							<img src="assets/images/brands/My_Hero_Academia_logo_in_Japan_20150106.png" alt="Image"
								class="imgSlider">
						</div>
						
						<div class="brand-item col">
							<img src="assets/images/brands/aot.png" alt="Image" class="imgSlider">
						</div>

						
						<div class="brand-item col">
							<img src="assets/images/brands/riot-games-logo.png" alt="Image" class="imgSlider">
						</div>


					</div>
				</div>
			</div>
		</div><!-- Brand Section End -->

		<!-- Footer Top Section Start -->
		<div class="footer-top-section section section-padding">
			<div class="container">
				<div class="row">

					<div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
						<h4 class="title">CONTACTO</h4>
						<p>1425 Los Polvorines <br /> Provincia de Buenos Aires</p>
						<p><a href="tel:2995451326">2995451326</a><a href="tel:2994137609">2994137609</a></p>
						<p><a href="mailto:help@origami.com">help@origami.com</a><a href="#">www.origami.com</a></p>
					</div>

					<div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
						<h4 class="title">PRODUCTOS</h4>
						<ul>
							<li><a href="#">Nuevos Articulos</a></li>
							<li><a href="#">Más vendidos</a></li>
							<li><a href="#">Items de moda</a></li>
							<li><a href="#">algo</a></li>
							<li><a href="#">Productos en venta</a></li>
							<li><a href="#">Productos Destacados</a></li>
						</ul>
					</div>

					<div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
						<h4 class="title">INFORMACIÓN</h4>
						<ul>
							<li><a href="#">Sobre Nosotros</a></li>
							<li><a href="#">Terminos y condiciones</a></li>
							<li><a href="#">Métodos de pago</a></li>
							<li><a href="#">Garantías</a></li>
							<li><a href="#">Devoluciones</a></li>
							<li><a href="#">Seguridad de los pagos</a></li>
						</ul>
					</div>

					<div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
						<h4 class="title">NEWSLETTER</h4>
						<p>Suscribete a nuestro newsletter para mantenerte actualizado sobre nuestros productos!</p>

						<form id="mc-form" class="mc-form footer-subscribe-form">
							<input id="mc-email" autocomplete="off" placeholder="Ingrese su email aquí" name="EMAIL"
								type="email">
							<button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
						</form>
						<!-- mailchimp-alerts Start -->
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
							<div class="mailchimp-success"></div><!-- mailchimp-success end -->
							<div class="mailchimp-error"></div><!-- mailchimp-error end -->
						</div><!-- mailchimp-alerts end -->

						<h5>SÍGUENOS!</h5>
						<p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a
								href="https://www.instagram.com/origami.anime/">Instagram</a></p>

					</div>

				</div>
			</div>
		</div><!-- Footer Top Section End -->

		<!-- Footer Bottom Section Start -->
		<div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<p class="footer-copyright">© 2022 Origami. Hecho con <i class="fa fa-heart heart-icon"></i> By
							<a target="_blank" href="https://OrigamiTeam.com">OrigamiTeam</a></p>
					</div>
				</div>
			</div>
		</div><!-- Footer Bottom Section End -->


		<!-- LOADER -->
		<div id="pageloader-overlay" class="visible incoming">
			<div class="loader-wrapper-outer">
				<div class="loader-wrapper-inner">
					<div class="text-center new-loading-modal">
						<!-- background-image: url(assets/images/hero/fondoAnime.png) -->
						<img src="../web/assets/images/logo.png" alt="" width="100%">
					</div>
				</div>
			</div>
		</div>
		<!--END LOADER -->

	</div>

	<!-- JS
============================================ -->


	<script src="https://kit.fontawesome.com/8872e142cf.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="assets/js/index.js"></script>
	<!-- jQuery JS -->
	<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
	<!-- Migrate JS -->
	<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- Plugins JS -->
	<script src="assets/js/plugins.js"></script>
	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<!-- loader -->
	<script>
		$(document).on("ready", function () {
			$(window).on('load', function () {
				$('#pageloader-overlay').fadeOut(1000);
			});
		});
	</script>
	<!-- End loader -->


</body>

</html>