<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Origami - eCommerce Clothes shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>

<body>

<div class="main-wrapper" id="app">

    <!-- Header Section Start -->
    <div class="header-section section">

        <!-- Header Top Start -->
        <div class="header-top header-top-one bg-theme-two">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">

                    <div class="col mt-10 mb-10 d-none d-md-flex">
                        <!-- Header Top Left Start -->
                        <div class="header-top-left">
                            <p>Bienvenido a Origami</p>
                            <a href="tel:2994137609"><i class="fa-brands fa-whatsapp"></i></a>
                        </div><!-- Header Top Left End -->
                    </div>

                    <div class="col mt-10 mb-10">
                        <!-- Header Language Currency Start -->
                        <ul class="header-lan-curr">

                            <li><a href="#">es</a>
                                <ul>
                                    <li><a href="#">english</a></li>
                                    <li><a href="#">spanish</a></li>
                                </ul>
                            </li>

                            <li><a href="#">$ars</a>
                                <ul>
                                    <li><a href="#">ars</a></li>
                                    <li><a href="#">dollar</a></li>

                                </ul>
                            </li>

                        </ul><!-- Header Language Currency End -->
                    </div>

                    <div class="col mt-10 mb-10">
                        <!-- Header Shop Links Start -->
                        <div class="header-top-right">

                            <p><a href="my-account.html">Mi cuenta</a></p>
                            <p><a href="login-register.html">Registrar</a><a href="login-register.html">Ingresar</a></p>

                        </div><!-- Header Shop Links End -->
                    </div>

                </div>
            </div>
        </div><!-- Header Top End -->

        <!-- Header Bottom Start -->
        <div class="header-bottom header-bottom-one header-sticky">
            <div class="container-fluid">
                <div class="row menu-center align-items-center justify-content-between">

                    <div class="col mt-15 mb-15">
                        <!-- Logo Start -->
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="assets/images/logo.png" alt="Jadusona">
                            </a>
                        </div><!-- Logo End -->
                    </div>

                    <div class="col order-2 order-lg-3">
                        <!-- Header Advance Search Start -->
                        <div class="header-shop-links">

                            <div class="header-search">
                                <button class="search-toggle"><img src="assets/images/icons/search.png" alt="Search Toggle"><img class="toggle-close" src="assets/images/icons/close.png" alt="Search Toggle"></button>
                                <div class="header-search-wrap">
                                    <form action="#">
                                        <input type="text" placeholder="Type and hit enter">
                                        <button><img src="assets/images/icons/search.png" alt="Search"></button>
                                    </form>
                                </div>
                            </div>

                            <div class="header-wishlist">
                                <a href="wishlist.html"><img src="assets/images/icons/wishlist.png" alt="Wishlist"> <span>02</span></a>
                            </div>

                            <div class="header-mini-cart">
                                <a href="cart.html"><img src="assets/images/icons/cart.png" alt="Cart"> <span>02($5000)</span></a>
                            </div>

                        </div><!-- Header Advance Search End -->
                    </div>

                    <div class="col order-3 order-lg-2">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html">HOME</a>
                                    </li>
                                    <li class="active"><a href="shop.html">SHOP</a>
                                        <ul class="sub-menu">
                                            <li class="active"><a href="shop.html">Shop</a></li>
                                            <li><a href="ropa.html">Ropa</a></li>
                                            <li><a href="cosplays.html">Cosplays</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">CONTACTO</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <!-- Mobile Menu -->
                    <div class="mobile-menu order-4 d-block d-lg-none col"></div>

                </div>
            </div>
        </div><!-- Header BOttom End -->

    </div><!-- Header Section End -->

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col">

                    <h1>Shop</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Page Section Start -->
    <div class="page-section section section-padding">
        <div class="container">

            <div class="row">

                <!-- {{showProductsSelect}} -->
                <div class="col-12">
                    <div class="product-show">
                        <h4>Show:</h4>
                        <select class="nice-select" v-model="showProduct">
                            <option value="8">8</option>
                            <option value="12">12</option>
                            <option value="16">16</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    
                    <div>
                        {{searchProduct}}
                        <label for="search">Buscar Productos:</label>
                        <input type="search" id="search" name="search" v-model="search">
                    </div>
                        <!-- {{sortBy}} -->
                    <div class="product-short">
                        <h4>Ordenar por:</h4>
                        
                        <select class="nice-select" v-model="sort">
                            <option value="minPrice">Menor Precio</option>
                            <option value="maxPrice">Mayor Precio</option>
                            <option value="minStock">Menor Stock</option>
                            <option value="maxStock">Mayor Stock</option>
                        </select>
                    </div>
                </div>
                

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40" v-for="product in aux">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <img v-bind:src="product.imageURL_front" alt="">

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                        <button>add to wishlist</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">{{product.name}}</a></h4>

                                    <div class="ratting">
                                        <p>{{product.animeTheme}}</p>
                                    </div>

                                    <h5 class="size">Size:
										<span>{{product.clothesSize}}</span>
										 <!-- <span>S</span><span>M</span><span>L</span><span>XL</span> -->
									</h5>
									<h5 v-if="product.color != null" style="display: inline;" class="color">
										Color: 
										<div class=" d-flex flex-row">
											<span v-if="product.color.includes('black')" style="background-color: #000000"></span>
											<span v-if="product.color.includes('blue')" style="background-color: #0271bc"></span>
											<span v-if="product.color.includes('gray')" style="background-color: #8f8e8b"></span>
											<span v-if="product.color.includes('purple')" style="background-color: #7a0da6"></span>
											<span v-if="product.color.includes('green')" style="background-color: #07a371"></span>
											<span v-if="product.color.includes('white')" style="background-color: #ffffff"></span>
											<span v-if="product.color.includes('red')" style="background-color: #ad1717"></span>
										</div>
									</h5>

                                </div>

                                <div class="content-right">
                                    <span class="price">${{product.price}}</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-12">
                    <ul class="page-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div><!-- Page Section End -->

    <!-- Brand Section Start -->
    <div class="brand-section section section-padding pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="brand-slider">

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                    <div class="brand-item col">
                        <img src="" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div><!-- Brand Section End -->

    <!-- Footer Top Section Start -->
    <div class="footer-top-section section bg-theme-two-light section-padding">
        <div class="container">
            <div class="row mbn-40">

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">CONTACTANOS</h4>
                    <p>1425 Los Polvorines <br/> Provincia de Buenos Aires</p>
                    <p><a href="tel:2995451326">2995451326</a><a href="tel:2994137609">2994137609</a></p>
                    <p><a href="mailto:help@origami.com">help@origami.com</a><a href="#">www.origami.com</a></p>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">PRODUCTOS</h4>
                    <ul>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Destacados</a></li>
                        <li><a href="#">Edicion Limitada</a></li>
                        <li><a href="#">Outlet</a></li>
                    </ul>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">INFORMACION</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Metodos de pago</a></li>
                        <li><a href="#">Product Warranty</a></li>
                        <li><a href="#">Cambios y devoluciones</a></li>
                    </ul>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">NEWSLETTER</h4>
                    <p>Subscribe our newsletter and get all update of our product</p>

                    <form id="mc-form" class="mc-form footer-subscribe-form">
                        <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                        <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->

                    <h5>FOLLOW US</h5> 
                    <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="https://www.instagram.com/origami.anime/">Instagram</a></p>

                </div>

            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="footer-copyright">© 2022 Origami. Made with <i class="fa fa-heart heart-icon"></i> By <a target="_blank" href="https://OrigamiTeam.com">OrigamiTeam</a></p>
                </div>
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->

</div>

<!-- JS
============================================ -->
<script src="https://kit.fontawesome.com/8872e142cf.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="assets/js/shop.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Migrate JS -->
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>