<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Site</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/manager.css">
</head>
<body>

    <main id="app">

        <header>

        </header>

        <form>

            <input type="text" v-model="name">

            <input type="text" v-model="color">

            <input type="text" v-model="description">

            <input type="text" v-model="URL_Front">

            <input type="text" v-model="URL_Back">

            <input type="text" v-model="Anime_Theme">

            <div>

                <label>
                    <input type="radio" name="clothesType" value="T_SHIRT">
                    Remera
                </label>
                <label>
                    <input type="radio" name="clothesType" value="TROUSER">
                    Pantalón
                </label>
                <label>
                    <input type="radio" name="clothesType" value="HOODIE">
                    Buso
                </label>
                <label>
                    <input type="radio" name="clothesType" value="SNEAKER">
                    Zapatilla
                </label>
                <label>
                    <input type="radio" name="clothesType" value="DRESS">
                    Vestido
                </label>
                <label>
                    <input type="radio" name="clothesType" value="SKIRT">
                    Falda
                </label>

            </div>
            
            <div>

                <label>
                    <input type="radio" name="limitedEdition" value="true">
                    Edición Limitada
                </label>
                <label>
                    <input type="radio" name="limitedEdition" value="false">
                    Edición Estandar
                </label>

            </div>

            <div>

                <label>
                    <input type="radio" name="productType" value="CLOTHES">
                    Ropa
                </label>
                <label>
                    <input type="radio" name="productType" value="COSPLAY">
                    Cosplay
                </label>

            </div>

            <div>

                <label>
                    <input type="radio" name="clothesSize" value="XS">
                    XS
                </label>
                <label>
                    <input type="radio" name="clothesSize" value="S">
                    S
                </label>
                <label>
                    <input type="radio" name="clothesSize" value="M">
                    M
                </label>
                <label>
                    <input type="radio" name="clothesSize" value="L">
                    L
                </label>
                <label>
                    <input type="radio" name="clothesSize" value="XL">
                    XL
                </label>
                <label>
                    <input type="radio" name="clothesSize" value="XXL">
                    XXL
                </label>

            </div>

            <label>
                <input type="number">
                Stock
            </label>

            <label>
                <input type="number">
                Price
            </label>

            <button type="submit">Add to DataBase</button>

        </form>

    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./sources/manage.js"></script>
</body>
</html>