:root {
    --violetaPastel: #9F7FB1;
    --rosaMasClaro: #F8C7D8;
    --rosaMedio: #E6BDDA;
    --rosa: #E792BD;
    --naranjaPastel: #FCE0D6;
   }
header {
    height: 12vh;
    background: #F8C7D8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    height: 100px;
}
.adminLogout {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.adminLogout>button{
    margin-left: 10px;
    margin-right: 20px;
    background-color: #9F7FB1;
    border: none;
    color: white;
}
.adminLogout>p{
    margin-top: 12px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table {
    width: 70% !important;
    margin-top: 3rem;
}
th {
    color: var(--rosa);
    font-size: 1.4rem;
}
td>a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    width: 100% !important;
    background-color: #9F7FB1;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
nav>a {
    color: white;
    font-size: 1.3rem;
    padding: 0px 12px 0.5px 12px;
}
.active {
    border-bottom: 1px solid white;
}
.tableForm {
    width: 45% !important;
}
.tableForm>tr>td {
    width: fit-content;
}
input{
    width: 500px;
    margin-top: .8rem;
}
.w50 {
    width: 50px;
    height: 1rem;
}
button {
    margin-left: 10px;
    margin-right: 20px;
    background-color: var(--rosa);
    border: none;
    color: white;
    margin-top: 3rem;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.3rem;
    font-weight: 600;
}
button:hover {
    background-color: var(--rosaMasClaro);
}
h4{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0 10px 0 0;
}
.desc {
    height: fit-content;
}